/**
 * GLOBAL
 */
body {
  margin: 0;
  
  box-sizing: border-box;

  font-family: Helvetica, Arial, sans-serif;

  background-color: aliceblue;
}
 
*,
::before,
::after {
  box-sizing: inherit;
}
 

/**
 * COMPONENTS
 */
/* NAVIGATION - START */
.navigation {
  margin: 0;
  padding: 0.5em;
  background-color: #5f4b44;
  list-style-type: none;
  border-radius: 0.2em;
}

@media (min-width: 560px) {
  .navigation {
    display: flex;
  }
}

.navigation > li {
  margin-top: 0;
  text-align: center;
}

.navigation > li + li  {
  border-top: 1px solid black;
}

@media (min-width: 560px) {
  .navigation > li + li  {
    border-top: 0px solid black;
  }
}

.navigation > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}

.navigation > li > a.active {
 
  text-decoration: underline;
}
 /* NAVIGATION - END */

 /* CONTAINER - START */
.container {
  max-width: 1150px;
  margin: 0 auto;
}
 /* CONTAINER - END */
