/**
 * GLOBAL
 */
body {
  margin: 0;
  
  box-sizing: border-box;

  font-family: Helvetica, Arial, sans-serif;

  background-color: aliceblue;
}
 
*,
::before,
::after {
  box-sizing: inherit;
}






/**
 * COMPONENTS
 */
/* NAVIGATION - START */
.navigation {
  margin: 0;
  padding: 0.5em;
  background-color: #5f4b44;
  list-style-type: none;
  border-radius: 0.2em;
}

@media (min-width: 560px) {
  .navigation {
    display: flex;
  }
}

.navigation > li {
  margin-top: 0;
  text-align: center;
}

.navigation > li + li  {
  border-top: 1px solid black;
}

@media (min-width: 560px) {
  .navigation > li + li  {
    border-top: 0px solid black;
  }
}

.navigation > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}

.navigation > li > a.active {
 
  text-decoration: underline;
}
 /* NAVIGATION - END */

/* PRODUCT - START */
.product {
  margin: 0;
  padding: 0.5em;
  list-style-type: none;

  border: 3px solid rgb(11, 125, 255);
  border-radius: 0.2em;
}

.product > * + * {
  margin-top: 0.em;
}

.product__first-button {
  margin-top: 1.3em;
}
/* PRODUCT - END */

 /* CONTAINER - START */
.container {
  max-width: 1150px;
  margin: 0 auto;
}
 /* CONTAINER - END */


/* FORM ADD PRODUCT - START */
.form-add-product {
  border: 3px solid rgb(11, 125, 255);
  border-radius: 0.2em;
  max-width: 18.5em;
  padding: 1em;
}

.form-add-product > * + * {
  margin-top: 1em;
}

.form-add-product > label {
  display: flex;
  justify-content: space-between;
}

/* FORM ADD PRODUCT - END */





/**
 * PAGES
 */
.products-page { margin-bottom: 2em; }
.products-page > * {
  margin-top: 2em;
}

.about-page {
  border: 3px solid rgb(11, 125, 255);
  border-radius: 0.2em;
  margin-top: 2em;
  padding-left: 0.5em;
}

.statistics-page > * {
  margin-top: 2em;
  margin-bottom: 1em;
}

.add-product-page > * {
  margin: 0 auto;
}

.add-product-page > * {
  margin-top: 2em;
}
